@model TomGuitar1.Models.Guitar

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Guitar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GuitarType" class="control-label"></label>
                <input asp-for="GuitarType" class="form-control" />
                <span asp-validation-for="GuitarType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuitarName" class="control-label"></label>
                <input asp-for="GuitarName" class="form-control" />
                <span asp-validation-for="GuitarName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuitarCost" class="control-label"></label>
                <input asp-for="GuitarCost" class="form-control" />
                <span asp-validation-for="GuitarCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuitarPicPath" class="control-label"></label>
                <input asp-for="GuitarPicPath" class="form-control" />
                <span asp-validation-for="GuitarPicPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuredValue" class="control-label"></label>
                <input asp-for="InsuredValue" class="form-control" />
                <span asp-validation-for="InsuredValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
