@{
    ViewData["Title"] = "Home Page";
}

<div class="text-Left">
    <h3 class="display-4">Welcome To Toms Guitar Page</h3>
    <p> On this site, I will be evaluating my Guitar Wishlist, GuitarCost, Insured Value, along with the correct Picture</p>
    <h4> Toms Guitar List;</h4>
    <ul>
        <li>Guitar Types</li>
        <li>Guitar Name</li>
        <li>Guitar Cost</li>
        <li>Guitar Picture</li>
        <li>Insured Value</li>
    </ul>
    <p></p>
</div>
